<div class="about">
	<div class="container">
		<h4>Mario Hernández <span></span></h4>
        <p>Ingeniero en Sistemas, fotógrafo, lector incansable, gusta de la música y del cine. El nacer en Quito-Ecuador siendo hijo de padres chilenos, le permitió aprender de ambas culturas.</p>

        <p>Ha trabajado en diseño gráfico, fotografía e imprenta desde 2001, aplicando sus conocimientos sobre sistemas informáticos en mantenimiento de servidores y creación de páginas web. </p>

        <p>El título de Ingeniero en Sistemas y Ciencias de la Computación lo obtuvo en la Universidad Tecnológica Equinoccial. Empezó su carrera en el mundo de la imprenta  como operador de pre-prensa para un periódico de la ciudad. Se fue capacitando en el diseño gráfico y fotografía, hasta ocupar el cargo de director de arte, para luego encargarse del manejo de las operaciones y la comercialización de la empresa en la que trabajaba antes de emprender Lumapel, idea que vio la luz en abril de 2015.
        </p>
	</div> 
</div>