<!DOCTYPE HTML>
<HTML>
  <head>
    <title>Mario Hernandez CV</title>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-6 pull-right">
            <h2>Mario Hernández</h2>
          </div>
        </div>
      </div>
    </div>
  </body>
</HTML>