   
    <div class="main">
      <div class="container">
        <h3>Designer in a lot of fields</br>
        Always looking for a new path</h3>
        <a href="<%= portfolio_path %>" class="btn btn-primary">My Work</a>
      </div>
    </div>
