<!DOCTYPE HTML>
<HTML>
  <head>
    <title>Mario Hernandez CV</title>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="menu col-xs-8">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-xs-4">
            <h4>Mario Hernández</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="container">
        <h3>Designer in a lot of fields</br>
        Always looking for a new path</h3>
      </div>
    </div>
  </body>
</HTML>