// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: Roboto, Sans-serif;
}

.header {

	ul {
		padding: 30px 0;
		li {
			display:inline;	
			a {
				text-decoration:none;
				padding:0 10px;
				color:rgb(60, 145, 234);
				&:hover{
					color:rgb(252, 135, 2);
				}
			}
		}
	}	
	h4 {
		padding:20px;
		color: rgb(28, 33, 42);
	}
}

.main {
	background: asset-data-url('portada.jpg')no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:350px;
	color:white;
	p {
		padding:40px 30px;
	}
}