<div class="footer">
      <div class="container">
      <p>® Mario Hernández - 2016</p>
        <a target="_blank" href="https://github.com/mariohernandezv"><img class="link"src="https://www.dropbox.com/s/yk5aow6erp85njy/social.png?raw=1"/></a>
        <a target="_blank" href="https://bitbucket.org/mariohernandezv/"><img class="link"src="https://www.dropbox.com/s/u5appki9u4w032f/bitbucket-logotype-camera-lens-in-perspective.png?raw=1"/></a>
        <a target="_blank" href="https://ec.linkedin.com/in/mario-omar-hernández-b9877180"><img class="link"src="https://www.dropbox.com/s/e8e5f7k13a2amb0/linkedin-logo.png?raw=1"/></a>
      </div>
    </div>


   