<div class="footer">
    <div class="container">
    <p>® Mario Hernández - 2016</p>
      <a target="_blank" href="https://github.com/mariohernandezv"><%= image_tag "GitHub-Logo.png", class: "link" %></a>
      <a target="_blank" href="https://bitbucket.org/mariohernandezv/"><%= image_tag "bitbucket-logo.png", class: "link" %></a>
      <a target="_blank" href="https://ec.linkedin.com/in/mario-omar-hernández-b9877180"><%= image_tag "linkedin-logo.png", class: "link" %></a>
    </div>
</div>


   